footer {
  background-color: #1a1a1a;
  font-family: 'IBMPlexSans-Light';
  color: #fff;

  @media screen and (max-width: 991px) {
    padding: 0 30px;
  }

  p {
    font-size: 14px;
    color: #3c4652;
  }
  h6 {
    line-height: 2rem;
    padding: 0 0 15px;
    color: #eaeaea;
  }
  .input-group {
    border-bottom: 1px solid #fff;
    input {
      color: white;
      background: #1a1a1a;
      border: none !important;
      padding: 0;
      font-size: 0.85rem;
      &:focus {
        color: white;
        background: #1a1a1a;
        border: none !important;
        padding: 0;
      }
    }
    button {
      border: none;
    }
  }

  .row {
    .col {
      @media screen and (max-width: 991px) {
        padding-bottom: 30px;
      }
    }
  }
}

.liq-news-footer {
  padding: 30px auto 10px;
  margin: 5px auto 0;
}
