.shapes-1 {
  position: relative;
  min-height: 200px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .shape-1 {
    position: absolute;
    top: 0px;
    right: 300px;
    width: 10px;
  }
  .shape-2 {
    position: absolute;
    top: 150px;
    right: 0px;
    height: 13px;
  }
}

.shapes-2 {
  position: relative;
  min-height: 200px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .shape-1 {
    position: absolute; 
    left: 0;
    top: 0;
    width: 13px;
  }

  .shape-2 {
    position: absolute;
    left: 200px;
    top: 200px;
    height: 13px;
  }
}