body {
  font-family: 'IBMPlexSans-Medium';
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'IBMPlexSans-Light';
}

// h1 {
//   font-size: 3rem;
// }

h5 {
  font-size: 25px;
  color: #737373;
}

p {
  padding: 10px 0;
  line-height: 1.8rem;
}

strong {
  font-family: 'IBMPlexSans-Medium';
}

ul {
  // list-style-image: url('/images/assets/bullet-circle-sm.png');

  li {
    line-height: 2rem;
    font-family: 'IBMPlexSans-Light';
    padding: 10px 0;
  }
}

hr {
  height: 2px;
  background: -moz-linear-gradient(left, #77f9e0 0%, #719de8 50%, #9c48f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #77f9e0 0%,#719de8 50%,#9c48f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #77f9e0 0%,#719de8 50%,#9c48f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.bg-light {
  background-color: #fff !important;
}

.grey-bg {
  background-color: #fbfbfb;
}

.title {
  color: #af84f4;
  text-transform: uppercase;
  font-family: 'IBMPlexSans-Medium';
  font-size: 0.75rem;
  padding: 10px 0 5px;
  margin-bottom: 0 !important;
  line-height: 0.65rem;
  a {
    color: #af84f4;
    text-decoration: underline;
  }
}

.brand-logo {
  margin-left: 50px;
}

.side-box-left {
  background: black;
}

.row {
  .col {
    padding: 0;

    @media screen and (max-width: 991px) {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }
}

.btn {
  text-transform: none;
  height: 44px;
  line-height: 44px;
  padding: 0 1.4rem;
  border-radius: 1.5rem;
  &:hover {
    background-color:rgba(255, 255, 255, 0.2);
  }
}

.btn-light {
  background: none;
  border: 1px solid white;
  color: #fff !important;
}

.ico-badge {
  position: absolute;
  top: -85px;
  right: -85px;
  width: 100px;
  height: 100px;
}

.margin-top {
  margin-top: 70px;
}

.light {
  color: #818181;
}

.team-pic {
  border-radius: 50%;
}

.liq-bg {
  padding: 20px 0 5px;
  background: -moz-linear-gradient(left, #ef8a71 1%, #dc3375 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ef8a71 1%,#dc3375 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ef8a71 1%,#dc3375 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.liq-news-sidebar {
  margin-right: 10rem;
  height: 106px;

  @media screen and (max-width: 1160px) and (min-width: 992px) {
    margin-right: 0rem;
  }

  @media screen and (max-width: 991px) {
    margin-right: 4rem;
  }

  .input-field {
    float: right;
    margin-right: 24px;
  }
}

.liq-news-input {
  position: relative;

  .input {
    background: none !important;
    color: #fff;
    width: 200px !important;
    height: 3.5rem !important;
    margin: 2px 10px 20px 0 !important;
    font-family: 'IBMPlexSans-Light';
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px #fff !important;
    outline: none !important;
    box-shadow: none;

    @media screen and (max-width: 991px) {
      width: 185px !important;
    }

    &::placeholder {
      color: #fff;
    }
  }

  label {
    color: #fff;
  }
}

.liq-padded-left {
  padding: 70px 10px 70px 90px;

  @media screen and (max-width: 991px) {
    padding: 30px;
  }
}

.liq-swap {
  min-height: 675px !important;
  background-image: url("../images/laptop_mvp.png");
  background-repeat: no-repeat;
  background-position: 100px 35px;
  background-size: 800px;

  @media screen and (max-width: 991px) {
    min-height:350px !important;
    background-size: 400px;

    button {
      top: 300px !important;
      left: 133px !important;
    }
  }

  button {
    position: relative;
    top: 548px;
    left: 326px;
    background: #9157f1;
    color: white;
    padding: 0 6.4rem;
    &:hover {
      background: #874fe5;
    }
  }
}

.liq-blue-bg {
  color: #fff;
  background: -moz-linear-gradient(left, #1f4f6d 0%, #103349 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1f4f6d 0%,#103349 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1f4f6d 0%,#103349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.liq-benefits {
  h5 {
    font-size: 21px;
    color: #222425;
  }

  p {
    padding: 0px 20px 80px 0px;
    line-height: 1.6rem;
    color: #a7a8a9;
  }

  img {
    margin-right: 10px;
  }

  @media screen and (max-width: 991px) {
    img {
      max-width: 100px;
      margin-right: 0;
    }
  }
}

.liq-values {
  h5 {
    font-size: 21px;
    color: #222425;
  }
  ul {
    padding-bottom: 50px;
    padding-right: 40px;
    margin-left: -20px;

    li {
      padding: 2px 0;
      line-height: 1.6rem;
      color: #5f6061;
      font-size: 0.9rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .row {
      height: 175px !important;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .row {
      height: 175px !important;
    }
  }

  @media screen and (max-width: 991px) {
    img {
      width: 137px;
    }
  }
}

.liq-components-links {
  padding-top: 30px;

  img {
    padding-right: 30px;
  }
}

.background-art {
  background: url('/images/assets/background-art.png')
}
