<div class="container-fluid">
  <div class="row liq-bg">
    <div class="input-field liq-news-footer liq-news-input">
      <form action="https://liquality.us19.list-manage.com/subscribe/post?u=328fb70bfd75154b39a90bb7c&amp;id=59fdf4de39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input placeholder="Enter Your Email Address" type="email" name="EMAIL" class="required email input">
        <input type="submit" value="Stay Updated" name="subscribe" class="btn btn-light">
      </form>
    </div>
  </div>
</div>
<footer>
  <div class="container padded-top">
    <div class="row padded-above">
      <div class="col"> 
        <% link_to 'https://github.com/liquality' do %>
          <%= image_tag '/images/assets/GitHub_Logo_White.png', class: 'padded-right', width: '100' %>
        <% end %>
        <!-- <img src="/images/assets/MediumIcon.png" width="35"> -->
      </div>
      <div class="col-md-2">
        <h6><%= link_to 'About', '/about' %></h6>
        <!-- <h6>Community</h6> -->
        <h6><%= link_to 'FAQ', '/faq' %></h6>
      </div>
      <div class="col-md-2">
        <%= link_to 'Coinponents', 'https://github.com/liquality' %>
        <!-- <h6>Legal Terms</h6> -->
      </div>
      <div class="col-md-3">
        <h6>Suscribe to our email for product updates</h6>

        <form action="https://liquality.us19.list-manage.com/subscribe/post?u=328fb70bfd75154b39a90bb7c&amp;id=59fdf4de39" method="post" id="mc-embedded-subscribe-form-footer" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Email Address" type="email" name="EMAIL">
            
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" name="subscribe" type="button"><img src="/images/assets/Right_Arrow.png"></button>
            </div>
        </div>
        </form>
      </div>
    </div>
    <div class="row">
      <p>2018 &#169; Liquality, a ConsenSys Formation</p>
    </div>
  </div>
</footer>
