<div class="container-fluid">
  <div class="row liq-bg">
    <div class="input-field liq-news-footer liq-news-input">
      <input id="icon_prefix" placeholder="Enter Your Email Address" type="text" class="validate">
      <a class="btn btn-light">Stay Updated</a>
    </div>
  </div>
</div>
<footer>
  <div class="container padded-top">
    <div class="row padded-above">
      <div class="col">
        <img src="/images/assets/GitHub_Logo_White.png" class="padded-right">
        <img src="/images/assets/MediumIcon.png" width="35">
      </div>
      <div class="col-md-2">
        <h6>About</h6>
        <h6>Community</h6>
        <h6>FAQ</h6>
      </div>
      <div class="col-md-2">
        <h6>Coinponents</h6>
        <h6>Legal Terms</h6>
      </div>
      <div class="col-md-3">
        <h6>Suscribe to our email for product updates</h6>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter Your Email Address" aria-label="Enter Your Email Address" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img src="images/assets/Right_Arrow.png"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p>2018 © Liquality, a CosenSys Formation</p>
    </div>
  </div>
</footer>
