---
title: About
slug: about
canonical: /about/
description: Read about Liquality's vision, mission, and values.
priority: 0.8
---
<div class="container-fluid">
  <div class="row padded">
    <div class="col-md-6">
      <h1 class="h4"><strong>Liquality is...</strong></h1>
      <h4 class="light line-padding">a vision for a more open and equitable future, where anyone can access the global digital economy in a free, secure, and efficient way.</h4>
      <br />
      <h6><strong>Watch Liquality contributor Símon describe Liquality and <a href="https://liquality.io/blog/atomic-swaps-explained/">Atomic Swaps</a> in depth:</strong></h6>
      <br />
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/maUq_X7yq1w?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container-fluid background-art">
  <div class="row padded">
    <div class="col-md-6 shapes-2">
      <img src="/images/shapes/shape-3.png" class="shape-1">
      <img src="/images/shapes/shape-2.png" class="shape-2">
    </div>
    <div class="col-md-6">
      <img src="/images/assets/bullet-circle.png" width="30" class="padded-top-sm">
      <h4><strong>The Mission</strong></h4>
      <p class="light">Contributors enable Liquality by building the solutions and tools for accessible, efficient liquidity networks.</p>
      <img src="/images/assets/liquality-stack.png" width="660">
    </div>
  </div>
</div>

<div class="container padded liq-values">
  <div class="row padded-top">
    <h3><strong>Values</strong></h3>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/values/completely-accessible.svg" alt="Completely Accessible">
    </div>
    <div class="col-md-5">
      <h5>Equally Accessible</h5>
      <ul>
        <li>Everyone/thing is allowed and welcomed</li>
        <li>No single party can deny anyone or anything the right to use and benefit from the community’s output</li>
      </ul>
    </div>
    <div class="col">
      <img src="/images/values/radically-transparent.svg" alt="Radically Transparent">
    </div>
    <div class="col-md-5">
      <h5>Radically Transparent</h5>
      <ul>
        <li>Open source code and open communication, sharing widely and always seeking new ideas & opinions</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/values/reflexive-and-user-driven.svg" alt="Reflexive and User-driven">
    </div>
    <div class="col-md-5">
      <h5>Reflexive and User-driven</h5>
      <ul>
        <li>Focus on solving real problems</li>
        <li>Develop tools which are iterative, self-reflexive and adaptive, driven by the collective wisdom of the user community</li>
      </ul>
    </div>
    <div class="col">
      <img src="/images/values/disintermediation-as-enabler.svg" alt="Disintermediation as Enabler">
    </div>
    <div class="col-md-5">
      <h5>Disintermediation as Enabler</h5>
      <ul>
        <li>Fulfill the promise of decentralization, strive to find new models instead of recreating old ones</li>
      </ul>
    </div>
  </div>
</div>
