---
title: Liquality - About
slug: about
---

<div class="container-fluid">
  <div class="row padded">
    <div class="col-md-6">
      <h4><strong>Liquality is...</strong></h4>
      <h4 class="light line-padding">Creating robust interconnected networks for peers to easily find each other and directly exchange any asset without intermediation.</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row padded">
    <div class="col-md-6">
      <img src="images/assets/TheVision_Circle.png" width="30" class="padded-top-sm">
      <h4><strong>The Vision</strong></h4>
      <p class="light">To expand the right for peers to freely transact regardless of geography, class or other divides as foundational to participating in digital economies in order to create a more fair, open and equitable society<p>
    </div>
    <div class="col-md-6 shapes-1">
      <img src="images/shapes/Shape_01.png" class="shape-1">
      <img src="images/shapes/Shape_02.png" class="shape-2">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row padded">
    <div class="col-md-3 shapes-2">
      <img src="images/shapes/Shape_03.png" class="shape-1">
      <img src="images/shapes/Shape_02.png" class="shape-2">
    </div>
    <div class="col-md-6">
      <img src="images/assets/BulletCircles.png" width="30" class="padded-top-sm">
      <h4><strong>The Mission</strong></h4>
      <p class="light">The exchange of assets as means of participation in the world economy provides access to resources and increases social status. At the core of a more fair and equitable world is free participation without barriers, expexially without the need to be permissioned by third parties.</p>
      <p class="light">Liquality's mission is to create robust, interconnected networks for peers to easily find each other and directly exchange any asset without intermediation.</p>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row padded-top">
    <h3>Values</h3>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/values/CompletelyAccessible.svg">
    </div>
    <div class="col-md-5">
      <h5>Completely Accessible</h5>
      <ul>
        <li>Everyone/thing is allowed and welcomed</li>
        <li>No single party can deny anyone or anything
the right to use and benefit from the community’s output</li>
      </ul>
    </div>
    <div class="col">
      <img src="images/values/RadicallyTransparent.svg">
    </div>
    <div class="col-md-5">
      <h5>Radically Transparent</h5>
      <ul>
        <li>Open source code and open communication, sharing widely and always seeking new ideas & opinions</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/values/AbsolutelyEqual.svg">
    </div>
    <div class="col-md-5">
      <h5>Absolutely Equal</h5>
      <ul>
        <li>No one is better, worse, more, or less that anyone else. All voices have equal weight</li>
      </ul>
    </div>
    <div class="col">
      <img src="images/values/IndependentandNeutral.svg">
    </div>
    <div class="col-md-5">
      <h5>Independent and Neutral</h5>
      <ul>
        <li>Committed to remaining independent and neutral without discrimination to create the broadest impact</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/values/BuiltThroughCommunity.svg">
    </div>
    <div class="col-md-5">
      <h5>Built Through Community</h5>
      <ul>
        <li>Owned and evolved by a passionate and kind community, decentralized governance assures no intermediation</li>
      </ul>
    </div>
    <div class="col">
      <img src="images/values/Reflexive and User-driven.svg">
    </div>
    <div class="col-md-5">
      <h5>Reflexive and User-driven</h5>
      <ul>
        <li>Focus on solving real problems</li>
        <li>Develop tools which are iterative, self-reflexive and adaptive, driven by the collective wisdom of the user community</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="images/values/DisintermediationasEnabler.svg">
    </div>
    <div class="col-md-5">
      <h5>Disintermediation as Enabler</h5>
      <ul>
        <li>Fulfill the promise of decentralization, strive to find new models instead of recreating old ones</li>
      </ul>
    </div>
    <div class="col">
      &nbsp;
    </div>
    <div class="col-md-5">
      &nbsp;
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="container padded">
    <div class="row padded-top">
      <h3>The Liquality Team</h3>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Alex Griessel</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Simon Lapscher</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Thessy Mehrain</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Mohammad Nokhbatolfoghahai</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Harsh Vakharia</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Matthew Black</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Ting Lui</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col">
        <img src="images/assets/CircleProfile.png" class="padded-top-sm">
      </div>
      <div class="col-md-4 padded-bottom">
        <h5>Jeth Soetoyo</h5>
        <p class="title">Title Here</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>