---
title: FAQ about Liquality, Atomic Swaps, and more. 
slug: faq
canonical: /faq/
description: Answers to common questions about Liquality, Atomic Swaps, Hashed Timelock Contracts (HTLC), BIP199, ERC1630, Crypto Exchanges, Decentralized Exchanges (DEX), Counterparty Risk, Over-The-Counter (OTC), Chain Abstraction, Bitcoin, Ethereum, and more. 
---
<div class="container padded-above padded-mobile">
  <h1>FAQ</h1>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/bullet-circle.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h2>FAQ Coming Soon</h2>
      <p>We will be updating the FAQ on an ongoing basis following launch.</p>
    </div>
  </div>
</div>
