---
title: FAQ about Liquality, Atomic Swaps, HTLCs, and more.
slug: faq
canonical: /faq/
description: Answers to common questions about Liquality, Atomic Swaps, Hashed Timelock Contracts (HTLC), BIP199, ERC1630, Crypto Exchanges, Decentralized Exchanges (DEX), Counterparty Risk, Over-The-Counter (OTC), Chain Abstraction, Bitcoin, Ethereum, and more.
---
<div class="container padded-above padded-mobile">
  <h1>FAQ</h1>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/bullet-circle.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h4>What is Liquality?</h4>
      <p>Liquality is a vision for a more open and equitable future, where anyone can access the global digital economy in a free, secure, and efficient way. Contributors enable Liquality by building the tools and solutions for accessible and efficient liquidity networks. Our first product is an interface that offers the most secure way to swap cryptocurrencies, where counterparty risk and fees are significantly reduced by using <i>atomic swaps</i>. This is the first step towards building a value management system that allows for shared, accessible, and efficient liquidity networks.</p>

      <h4>How is Liquality different?</h4>
      <ul>
        <li>No Middlemen: <a href="https://medium.com/liquality/decentralization-disintermediation-208000413b82">disintermediation</a> minimizes the risk and cost associated with swapping cryptocurrencies, including unnecessary tokens, deposits, or withdrawals</li>
        <li>Cross-Chain: there is no need for false representations of Bitcoin, <a href="https://blog.liquality.io/wbtc-wrapped-btc-or-wat-btc/">like wBTC</a>, as participants can swap cryptocurrencies across blockchains</li>
        <li>No Counterparty Risk: atomic swaps are programmatically guaranteed to either happen securely or refund both parties</li>
        <li>Key Ownership: the interface's bring-your-own-wallet (BYOW) approach empowers users to retain control and custody over their funds</li>
        <li>Open Source: all code is open source and promotes freedom</li>
      </ul>

      <h4>What are Atomic Swaps?</h4>
      <p><a href="https://en.bitcoin.it/wiki/Atomic_swap">Atomic swaps</a> are a type of transaction that enables the peer-to-peer exchange of one cryptocurrency for another without intermediaries like centralized or decentralized exchanges. In order for a swap to be "atomic" - to either happen successfully or not at all -  both parties of a swap must acknowledge the receipt of funds within a specified timeframe using a cryptographic hash function. If one of the parties fails to confirm the transaction within the timeframe, then the entire swap is voided and the escrowed funds are refunded to the respective parties. Note that there are no scenarios in which one party controls both coins simultaneously, minimizing counterparty risk and exchange fees.</p>

      <h4>What are Hashed Timelock Contracts (HTLCs)?</h4>
      <p>Atomic swaps are based on <a href="https://en.bitcoin.it/wiki/Hash_Time_Locked_Contracts">Hashed Timelock Contracts (HTLCs)</a>, which are essentially escrows that enable conditional payments. As its name denotes, an HTLC is a time-bound smart contract between parties that involves the generation of a cryptographic hash function, which can be verified between them. HTLCs form the foundation for atomic swaps - a user and her counterparty create these HTLC escrows on their respective chains, and the funds that are deposited into the two escrows of the swap are properly locked and released. This dual escrow mechanism reduces the need to trust the counterparty for proper execution of the trade. Liquality's cross-chain atomic swaps are a modification to the <a href="https://en.bitcoin.it/wiki/Atomic_swap#Algorithm">Tier Nolan approach</a> to atomic swaps and leverages HTLC standards <a href="https://github.com/bitcoin/bips/blob/master/bip-0199.mediawiki">BIP199</a> and <a href="https://github.com/ethereum/EIPs/issues/1631">ERC1630</a>.</p>

      <h4>What are User Owned-and-Deployed, Disposable Contracts?</h4>
      <p>Whereas existing decentralized exchanges force users to swap cryptocurrencies through a centrally-owned hub contract (where the admins of the contract control its functionality - e.g. Bancor's kill switch), Liquality empowers its users to easily own and deploy contracts for each atomic swap. The Liquality open-source smart contract templates leverage community standards for HTLCs, have been reviewed by professional security experts, and are unique / disposable to each swap. This makes swapping cryptocurrencies more secure (no central smart contract to hack), private (each swap has its own set of contracts that only users can own, deploy, access, and operate), disintermediated (no admin control or kill switch), and cost efficient.</p>

      <h4>How do I find a Counterparty for my atomic swap?</h4>
      <p>Liquality's cross-chain atomic swap Alpha interface does not have a discovery or matching mechanism. It is purely an execution and settlement interface for conducting atomic swaps, meant to eliminate counterparty risk and fees. Users should utilize their networks, communities, groups, and other means to find a counterparty and agree on a price before using Liquality's interface to execute and settle swaps.</p>

      <h4>I don't trust the atomic swap interface. Why should I trust Liquality and how can I verify your software?</h4>
      <p>Contributors are staunch advocates for the "Don't trust; verify" movement. You don't have to trust Liquality, and you shouldn't need to. Here are some factors that may affect your decision to use the interface: 1) There is no third party in Liquality swaps as users own and deploy their own contracts for each atomic swap; 2) atomic swap parameters are verified by your browser to make sure you are running the latest version of the code and deploying the correct contracts; and 3) everything we do is completely open source so you can explore, download, run, and fork our repositories at any time.</p>

      <h4>My bitcoins aren't showing up on my Ledger Live interface - what's happening?</h4>
      <p>Liquality's Alpha software currently only supports Bitcoin (BTC) <i>legacy</i> transactions (Segwit is not yet supported). In order to view your Bitcoin (BTC) legacy balance, go to your LedgerLive once you have completed your swap, then click: New Account → Bitcoin → Legacy → add.</p>

      <h4>What's coming next for Liquality?</h4>
      <p>Our cross-chain atomic swap Alpha interface is the first step towards building a value management system that allows for shared, accessible, and efficient liquidity networks. Over the coming months, users can expect:</p>
      <ul>
        <li>More wallet support, especially for Trezor devices + Segwit addresses</li>
        <li>More token support beyond BTC/ETH pairs: Other UTXO-based coins, like Litecoin (LTC); Ethereum-based tokens, including the DAI stablecoin and other ERC20s; and privacy coins, like Monero (XMR), ZCash (ZEC), and Grin (GRIN)</li>
        <li>Further parameter customization (e.g. swap lock time)</li>
        <li>Custom node deployment, configuration, and signing for automated cross-chain atomic swaps</li>
        <li>Near-real-time cross-chain atomic swaps through Layer 2 solutions</li>
        <li>Ability to share liquidity pools with chosen users (e.g. dark pools)</li>
      </ul>

      <h4>Which wallets are compatible with Liquality?</h4>
      <p>Currently, the cross-chain atomic swap interface supports MetaMask and Ledger devices. We will be enabling more wallets in the coming months, starting with Trezor. If you want to help us integrate a new wallet, please add a provider for it in our open source <a href="https://github.com/liquality/chainabstractionlayer">Chain Abstraction Layer</a> and reach out on our <a href="https://t.me/liquality">Telegram</a>.</p>

      <h4>Does Liquality charge fees / are there any fees when using Liquality?</h4>
      <p>Liquality does not and could not charge an exchange fee, as atomic swaps are entirely peer-to-peer via user-owned-and-deployed contracts. This makes using Liquality cheaper and more secure than existing alternatives. Users still have to pay mining fees on the respective blockchains they are swapping on, and those will vary depending on each network's transaction congestion.</p>

      <h4>How do Liquality contributors make money?</h4>
      <p>We believe the exchange of value is a universal human right - the base layer for exchange should remain accessible, neutral, and censorship-resistant, not monetized by unnecessary intermediaries. Liquality will make money by providing users with useful products and value-add services that sit on top of the base layer of exchange, bringing us closer to shared, accessible, and efficient liquidity networks.</p>

      <h4>Are my funds safe while swapping with the Liquality atomic swap interface?</h4>
      <p>You are always in complete control and custody of your funds. When a user initiates an atomic swap, their funds are locked in an escrow (HTLC) until the counterparty has locked their funds in an escrow - these escrows cannot be tampered with or hacked and they are bound by the parties' private keys. In other words, the atomic swap is programmatically guaranteed to ensure a successful swap or refund to both parties. As long as you properly secure your private keys, your funds are safu.</p>

      <h4>I received less money than what I had initially agreed with my counterparty - what happened?</h4>
      <p>This is due to mining fees that are taken out of users' swaps. Liquality's interface estimates mining fees in real time so that your swap is included and mined within the next two blocks. These mining fees will vary depending on each network's transaction congestion and will be shown to you in your MetaMask or Ledger wallet respectively.</p>

      <h4>How long do Cross-Chain Atomic Swaps take?</h4>
      <p>Because atomic swaps are currently executed on-chain, they will move at the speed of the slowest chain - if a swap involves Bitcoin, each step that involves a Bitcoin transaction will take ~10 min (longer if the network is congested). This means most swaps will execute and settle within ~20 min if all counterparties are online and active for Bitcoin transactions, and under 1 minute if the swap is solely on Ethereum. We are working on enabling configurable options to speed up cross-chain swaps, including near-real-time swaps via Layer 2 solutions and 0 confirmation Bitcoin swaps.</p>

      <h4>What happens if the counterparty doesn't confirm the terms or claim the swap?</h4>
      <p>If a counterparty backs out of a swap, you will be able to refund your assets after the lock up period (in the Alpha launch, the lock up period is set for 12 hours - this parameter will be configurable moving forward). After the lock up period, a refund screen will appear on the interface so you can refund your assets. You will need your wallet to sign another transaction in order to unlock and refund the funds held in the HTLC escrow. There will never be a situation where you give away your assets without getting the counterparty's assets in return. The atomic swap either happens for both parties or none at all and you all get your assets back.</p>

      <h4>Do I need to be online for the entirety of the swap?</h4>
      <p>You do not need to be online for the entirety of the swap, however, it is recommended that you leave your browser open and save the back-up link. If you are planning on closing your browser session, make sure you copy and save the back-up link generated after initiating the swap, so that you can get back to your swap without any issues.</p>

      <h4>What happens if I lose the back-up link and my browser closes?</h4>
      <p>If you lost the back-up link and the respective browser session, send us a note via the Crisp chat interface (bottom right of interface) and Liquality contributors will work with you to recover your funds.</p>

      <h4>Which tokens and chains are currently supported?</h4>
      <p>Liquality's interface currently supports Bitcoin (BTC) and Ethereum (ETH) for the Alpha phase. As we move forward, we plan to offer more token support beyond BTC/ETH pairs, including: Other UTXO-based coins, like Litecoin (LTC); Ethereum-based tokens, including the DAI stablecoin and other ERC20s; and privacy coins, like Monero (XMR), ZCash (ZEC), and Grin (GRIN). If you would like to integrate a specific token / asset into our cross-chain atomic swap protocol, please check out and contribute to the open source <a href="https://github.com/liquality/chainabstractionlayer">Chain Abstraction Layer</a>, the base for our Liquality interface.</p>

      <h4>Is it possible to export transaction history from Liquality?</h4>
      <p>At this moment, it is not possible to export transaction history with Liquality, as Liquality contributors have no control over your transactions, and each transaction uses its own user-owned-and-deployed disposable contracts.</p>

      <h4>Do I need to register to access Liquality?</h4>
      <p>You do not need to register to access Liquality - all you need are your wallets and your counterparty's addresses to start swapping. Down the line we will enable optional KYC integrations for institutions who need to meet specific compliance measures, while assuring that an alternative remains in place for everyone.</p>

      <h4>Is there mobile support for cross-chain atomic swaps with Liquality?</h4>
      <p>At this moment, there is no mobile support for cross-chain atomic swaps although it is on our medium term roadmap. If you have the technical skills and interest, please check out the <a href="https://github.com/liquality/chainabstractionlayer">Chain Abstraction Layer</a> and expand it to support mobile transactions - we have made the Chain Abstraction Layer modular and simple enough so that our community can expand it beyond our imagination!</p>

      <h4>Where can I find more information about Liquality?</h4>
      <p>You can read more about Liquality in our <a href="https://blog.liquality.io/">Blog</a>, contribute to / follow our development progress on our <a href="https://github.com/liquality">Github</a>, and join the community discussion on our <a href="https://t.me/liquality">Telegram</a>.</p>

      <h4>What is the Chain Abstraction Layer (CAL)?</h4>
      <p>The <a href="https://github.com/liquality/chainabstractionlayer">Chain Abstraction Layer</a> is a flexible, modular library for <a href="https://medium.com/liquality/the-missing-tool-to-cross-chain-development-2ebfe898efa1">developing disintermediated solutions across different blockchains</a>. It allows developers to easily integrate different blockchains for cross-chain development. If you would like to help build Liquality's vision, feel free to comment on, <a href="https://www.npmjs.com/package/@liquality/chainabstractionlayer">use</a>, and extend the CAL.</p>

    </div>
  </div>
</div>
