---
title: Liquality - FAQ
slug: faq
---

<div class="container padded-above">
  <div class="row">
    <div class="col-md-12">
      <h1>FAQ</h1>
      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/BulletCircles.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/BulletCircles.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/BulletCircles.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="/images/assets/BulletCircles.png" class="padded-sm">
    </div>
    <div class="col-md-11 padded-xs">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    </div>
  </div>
</div>