---
title: Swap without intermediation peer-to-peer, cross chain
slug: home
priority: 1
---
<div class="container-fluid background-art">
  <div class="row">
    <div class="col-lg no-padding">
      <div class="liq-padded-left">
        <h1>Your freedom to transact is a human right</h1>
        <h5>Swap without intermediation peer-to-peer, cross chain</h5>
      </div>
      <div class="liq-bg liq-news-sidebar margin-top">
        <div class="input-field liq-news-input">
          <form action="https://liquality.us19.list-manage.com/subscribe/post?u=328fb70bfd75154b39a90bb7c&amp;id=59fdf4de39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input placeholder="Enter Your Email Address" type="email" name="EMAIL" class="required email input" required>
            <input type="submit" value="Stay Updated" name="subscribe" class="btn btn-light">
          </form>
          <img src="/images/assets/ico-free-badge.png" class="ico-badge" alt="Liquality ICO free badge">
        </div>
      </div>
    </div>
    <div class="col-lg liq-swap">
      <a href="/swap" class="primary btn btn-lg">Swap Now</a>
    </div>
  </div>
</div>

<div class="container-fluid padded">
  <div class="row d-flex">
    <div class="col-md-6 padded justify-content-center align-self-center">
      <img src="/images/assets/liquality-problem.png" width="100%" alt="The Problem">
    </div>
    <div class="col-md-6 padded">
      <h3><strong>The Problem</strong></h3>
      <p>Liquidity is limited because it is siloed, making it impossible to exchange any asset for another.</p>
      <p>We believe DEXs in the market today fail to solve this problem because they are:</p>
      <ul>
        <li>Not decentralized - they are intermediating users in the process of exchanging their value via relayers, indexers, or owned contracts, acting as central point of failure</li>
        <li>Blockchain specific (mainly Ethereum) - their architecture is entirely dependent on one specific chain</li>
        <li>Not connected - only by designing a truly disintermediated solution can peers interact freely in an interconnected network. Anything else creates incentives for isolation.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padded">
      <h3><strong>The Solution</strong></h3>
      <ul>
        <li>Enter Liquality. A disintermediated way to swap cross-chain, truly peer-to-peer. Not even we can interfere with your exchange.</li>
        <li>Liquality is built on a blockchain- and asset-agnostic open source library, taking the step first towards an open, neutral, transparent, borderless, censorship resistant interconnected liquidity network.</li>
      </ul>
    </div>
    <div class="col-md-6 padded">
      <img src="/images/assets/liquality-solution.png" width="100%" alt="The Solution">
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="container padded liq-benefits">
    <div class="row padded-top">
      <h3><strong>Swap with Liquality</strong></h3>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/blockchain-asset-agnostic.svg" alt="Trade crosschain">
      </div>
      <div class="col-md-5">
        <h5>Trade crosschain</h5>
        <p>Liquality is built using cross-chain atomic swaps and with the flexibility to expand into all blockchains and asset types</p>
      </div>
      <div class="col">
        <img src="/images/benefits/peer-to-peer.svg" alt="Swap truly peer to peer, no intermediary">
      </div>
      <div class="col-md-5">
        <h5>Swap truly peer to peer, no intermediary</h5>
        <p>No relayers, indexers, trusted third party or intermediary smart contracts in the middle of your transaction.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/control-your-own-keys.svg" alt="Control your own keys">
      </div>
      <div class="col-md-5">
        <h5>Control your own keys</h5>
        <p>You are always in total control of your assets, using the wallet you want and not the one someone imposes on you</p>
      </div>
      <div class="col">
        <img src="/images/benefits/no-token-no-fees.svg" alt="No token needed, pay 0 fees">
      </div>
      <div class="col-md-5">
        <h5>No token needed, pay 0 fees</h5>
        <p>A token between parties would only introduce friction, and we believe the exchange of value should be free and friction-free. We are a 100% ICO free zone.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/completely-opensource.svg" alt="Completely open source, built through community">
      </div>
      <div class="col-md-5">
        <h5>Completely open source, built through community</h5>
        <p>Liquality is entirely open source. We take our values seriously.</p>
      </div>
      <div class="col">
        <img src="/images/benefits/interconnected-liquidity-network.svg" alt="Access a shared liquidity network">
      </div>
      <div class="col-md-5">
        <h5>Access a shared liquidity network</h5>
        <p>Built on Chain Abstraction Layer. Liquality is one interface of many to a connected network, sharing liquidity and allowing for better counterparty and price discovery.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid liq-blue-bg padded text-center">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h4><strong>Built with Chain Abstraction Layer</strong></h4>
      <p>An open source, community driven wallet component set of libraries to build disintermediated cross-chain applications for interconnected liquidity.</p>
      <% link_to 'https://github.com/liquality/chainabstractionlayer', class: 'btn btn-light' do %>
        Build on Chain Abstraction Layer
      <% end %>
    </div>
  </div>
</div>
