---
title: Liquality - Home
slug: home
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm no-padding">
      <div class="liq-padded-left">
        <h1>Your freedom to transact is a human right</h1>
        <h5>Swap without intermediation peer-2-peer, cross chain</h5>
      </div>

      <div class="liq-bg liq-news-sidebar margin-top">
        <div class="input-field liq-news-input">
          <input placeholder="Enter Your Email Address" type="text">
          <a class="btn btn-light">Stay Updated</a>
          <img src="/images/assets/ICO_Free_Badge.png" class="ico-badge">
        </div>
      </div>
    </div>
    <div class="col-sm liq-swap"></div>
  </div>
</div>

<div class="container-fluid padded">
  <div class="row">
    <div class="col-md-6 padded">
      <img src="/images/Liquality_Illustration_Problem_082218-01.png" width="100%">
    </div>
    <div class="col-md-6 padded">
      <h3>The Problem</h3>
      <p>Liquidity is limited because it is siloed, making it impossible to exchange any asset for another.</p>
      <p>We believe DEXs in the market today fail to solve this problem because they are:</p>
      <ul>
        <li>Not decentralized - they are intermediating users in the process of exchanging their value via relayers, indexers, owned contracts acting as central point of failure</li>
        <li>Blockchain specific (mainly Ethereum) - their architecture is entirely dependent on one specific chain</li>
        <li>Not connected - only by designing a truly disintermediated solution can peers interact freely in an interconnected network. Anything else creates incentives for isolation.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padded">
      <h3>The Solution</h3>
      <ul>
        <li>A disintermediated way to swap cross-chain, truly peer-to-peer. Not even we can interfere with your exchange.</li>
        <li>Built on a blockchain and asset agnostic open source library, taking the first towards an open, neutral, transparent, borderless, censorship resistant interconnected liquidity network.</li>
      </ul>
    </div>
    <div class="col-md-6 padded">
      <img src="/images/Liquality_Illustration_SolutionLogo_082218-01.png" width="100%">
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="container padded">
    <div class="row padded-top">
      <h3>The Benefits</h3>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/BlockchainandAssetAgnostic.svg">
      </div>
      <div class="col-md-5">
        <h5>Blockchain and asset agnostic</h5>
        <p>Built using cross-chain atomic swaps and with the flexibility to expand into all blockchains and asset types</p>
      </div>
      <div class="col">
        <img src="/images/benefits/PeertoPeer.svg">
      </div>
      <div class="col-md-5">
        <h5>Truly peer to peer and disintermediated</h5>
        <p>No relayers, indexers, trusted third party or intermediary smart contracts in the middle of your transaction.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/ControlYourOwnKeys.svg">
      </div>
      <div class="col-md-5">
        <h5>Control your own keys</h5>
        <p>You are always in total control of your assets, using the wallet you want and not the one someone imposes on you</p>
      </div>
      <div class="col">
        <img src="/images/benefits/NotokenNoFees.svg">
      </div>
      <div class="col-md-5">
        <h5>No token. No Fees</h5>
        <p>A token between parties would only introduce friction, and we believe the exchange of value should be free and friction-free. We are a 100% ICO free zone.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/CompletelyOpenSource.svg">
      </div>
      <div class="col-md-5">
        <h5>Completely open source, built through community</h5>
        <p>Liquality is entirely open source. We take our values seriously.</p>
      </div>
      <div class="col">
        <img src="/images/benefits/InterconnectedLiquidityNetwork.svg">
      </div>
      <div class="col-md-5">
        <h5>Interconnected liquidity network</h5>
        <p>Built on coinponents. Liquality is one interface of many to a connected network, sharing liquidity and allowing for better counterparty and price discovery* coming soon</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid liq-blue-bg padded">
  <div class="row">
    <div class="col-md-4">
      <h4>Built with coinponents</h4>
      <p>an open source, community driven wallet component set of libraries to build disintermediated cross-chain applications for interconnected liquidity</p>
      <button class="btn btn-light">Build on Coinponents</button>
    </div>
  </div>
</div>
