---
title: Atomic swaps for cryptocurrencies (BTC, ETH) across blockchains (Bitcoin, Ethereum) with minimal counterparty risk and fees
slug: home
description: By using atomic swaps, Liquality significantly reduces counterparty risk and fees for cross-chain over-the-counter (OTC) trades. With a bring-your-own-wallet (BYOW) approach, users can swap directly from their preferred wallets, maintaining custody over their private keys. 
priority: 1
---
<div class="container-fluid background-art">
  <div class="row">
    <div class="col-lg no-padding">
      <div class="liq-padded-left">
        <h1>The most secure way to swap cryptocurrencies</h1>
        <h5>Swap cryptocurrencies without unnecessary risk or fees</h5>
      </div>
      <div class="liq-bg liq-news-sidebar margin-top">
        <div class="input-field liq-news-input">
          <form action="https://liquality.us19.list-manage.com/subscribe/post?u=328fb70bfd75154b39a90bb7c&amp;id=59fdf4de39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input placeholder="Enter Your Email Address" type="email" name="EMAIL" class="required email input" required>
            <input type="submit" value="Stay Updated" name="subscribe" class="btn btn-light">
          </form>
          <img src="/images/assets/ico-free-badge.png" class="ico-badge" alt="Liquality ICO free badge">
        </div>
      </div>
    </div>
    <div class="col-lg liq-swap">
      <a href="/swap-challenge" class="primary btn btn-lg">Swap Challenge</a>
    </div>
  </div>
</div>

<div class="container-fluid padded">
  <div class="row d-flex">
    <div class="col-md-6 padded justify-content-center align-self-center">
      <img src="/images/assets/liquality-problem.png" width="100%" alt="The Problem">
    </div>
    <div class="col-md-6 padded">
      <h3><strong>The Problem</strong></h3>
      <p>Cryptocurrency networks aim to be natively secure and peer-to-peer, yet their markets suffer from the added friction, risk, and cost of trusted third parties. As a result, liquidity is constrained in silos.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padded">
      <h3><strong>The Solution</strong></h3>
      <ul>
        <li>Enter Liquality, the most secure way to swap cryptocurrencies; counterparty risk and fees are significantly reduced by using atomic swaps.</li>
        <li>This is the first step towards building a value management system that allows for shared, accessible, and efficient liquidity networks.</li>
      </ul>
    </div>
    <div class="col-md-6 padded">
      <img src="/images/assets/liquality-solution.png" width="100%" alt="The Solution">
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="container padded liq-benefits">
    <div class="row padded-top">
      <h3><strong>Swap with Liquality</strong></h3>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/peer-to-peer.svg" alt="No Middlemen">
      </div>
      <div class="col-md-5">
        <h5>No Middlemen</h5>
        <p>The minimization of risk and cost; no unnecessary deposits, withdrawals, fees, or tokens required to transact</p>
      </div>
      <div class="col">
        <img src="/images/benefits/control-your-own-keys.svg" alt="Key Ownership">
      </div>
      <div class="col-md-5">
        <h5>Key Ownership</h5>
        <p>Retain control, custody, and security over your funds</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/no-token-no-fees.svg" alt="No Counterparty Risk">
      </div>
      <div class="col-md-5">
        <h5>No Counterparty Risk</h5>
        <p>Atomic swaps are programmatically guaranteed to either happen securely or not happen at all</p>
      </div>
      <div class="col">
        <img src="/images/benefits/blockchain-asset-agnostic.svg" alt="Cross-chain Interoperability">
      </div>
      <div class="col-md-5">
        <h5>Cross-chain Interoperability</h5>
        <p>Swap cryptocurrencies across different blockchains</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/completely-opensource.svg" alt="Completely open source, built through community">
      </div>
      <div class="col-md-5">
        <h5>Free Software</h5>
        <p>All code is open source and promotes freedom</p>
      </div>
      <div class="col-md-6">
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid liq-blue-bg padded text-center">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h4><strong>Built with the Chain Abstraction Layer</strong></h4>
      <p>A reference library that abstracts away blockchain logic for developers and simplifies cross-chain development.</p>
      <% link_to 'https://github.com/liquality/chainabstractionlayer', class: 'btn btn-light' do %>
        Build with the Chain Abstraction Layer
      <% end %>
    </div>
  </div>
</div>
