---
title: Cross-chain Atomic Swaps for Bitcoin and Ethereum
slug: home
description: By using atomic swaps, users not only save on unnecessary fees, but also significantly reduce counterparty, settlement, and custodial risks for cross-chain over-the-counter (OTC) trades. With a bring-your-own-wallet (BYOW) approach, users can swap directly from their preferred wallets, maintaining custody over their private keys.
priority: 1
---
<div class="container-fluid background-art">
  <div class="row">
    <div class="col-lg">
        <h1 class="heading">Cross-chain Atomic Swaps between Bitcoin and Ethereum</h1>
        <h2 class="tagline"><i>Convert ETH to BTC (and vice versa) with minimal risk and fees, while maintaining control over your private keys</i></h2>
    </div>
  </div>
  <div class="row liq-bg liq-news-sidebar margin-top">
    <div class="input-field liq-news-input">
      <p>Don't miss out when the Atomic Swap Interface goes live on mainnet!</p>
      <form action="https://liquality.us19.list-manage.com/subscribe/post?u=328fb70bfd75154b39a90bb7c&amp;id=59fdf4de39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input placeholder="Enter your email address" type="email" name="EMAIL" class="required email input" required>
        <input type="submit" value="Notify Me" name="subscribe" class="btn btn-light">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;
        <a target="_blank" href="https://liquality.io/blog/atomic-swaps-explained/">Learn about Atomic Swaps</a>
      </form>
     </div>
    <img src="/images/assets/ico-free-badge.png" class="ico-badge" alt="Unnecessary tokens add friction to atomic swaps; Liquality is ICO free">
  </div>
  <div class="row">
    <div class="col-lg liq-swap margin-top"></div>
  </div>
  </div>
</div>

<div class="grey-bg">
  <div class="container padded liq-benefits">
    <div class="row padded-top">
      <h3><strong>Liquality Cross-chain <a href="https://liquality.io/blog/atomic-swaps-explained/">Atomic Swaps</a></strong></h3>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/liquality-peer-to-peer-atomic-swaps.svg" alt="Atomic swaps minimize trusted third party arbitration and the cost of mediation">
      </div>
      <div class="col-md-5">
        <h4>Disintermediation: No Middlemen</h4>
        <p>By removing dependencies on trusted third parties, risk and cost are minimized; no more unnecessary fees, tokens, deposits, and withdrawals to transact</p>
      </div>
      <div class="col">
        <img src="/images/benefits/liquality-control-your-own-keys.svg" alt="Private Key Security: Users maintain ownership and custody">
      </div>
      <div class="col-md-5">
        <h4>Private Key Security: Ownership and Custody</h4>
        <p>Retain control, custody, and security over your own keys and funds</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/liquality-no-fees-no-token.svg" alt="Atomic swaps minimize counterparty and settlement risks">
      </div>
      <div class="col-md-5">
        <h4>Atomic and Final: No Counterparty or Settlement Risk</h4>
        <p><a href="https://liquality.io/blog/atomic-swaps-explained/">Atomic swaps</a> are programmatically guaranteed to either happen securely or not happen at all</p>
      </div>
      <div class="col">
        <img src="/images/benefits/liquality-interoperable-blockchain-asset-agnostic.svg" alt="Interoperable blockchain networks; cross-chain compatibility and development">
      </div>
      <div class="col-md-5">
        <h4>Interoperable Blockchain Networks</h4>
        <p><a href="https://liquality.io/blog/atomic-swaps-explained/">Atomic swaps</a> of cryptocurrencies across different blockchains enable cross-chain interoperability</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/benefits/liquality-free-and-open-source-software.svg" alt="Completely free and open source software, built through community">
      </div>
      <div class="col-md-5">
        <h4>Free and Open Source Software</h4>
        <p>All code is open source and promotes freedom. Additionally, no fees or membership tokens are mandated upon the user to participate in Liquality</p>
      </div>
      <div class="col-md-6">
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padded">
  <div class="row d-flex">
    <div class="col-md-6 padded justify-content-center align-self-center">
      <img src="/images/assets/liquality-problem.png" width="100%" alt="Cryptocurrency markets suffer from trusted third parties and the cost of mediation">
    </div>
    <div class="col-md-6 padded">
      <h3>Why trust centralized services and DEXs when swapping crypto over-the-counter (OTC)?</h3>
      <p>Cryptocurrency networks aim to be natively secure and peer-to-peer, yet their markets suffer from the added friction, risk, and cost of trusted third parties. As a result, liquidity is constrained in silos.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padded">
      <h3>Cross-chain <a href="https://liquality.io/blog/atomic-swaps-explained/">atomic swaps</a> are the cheapest and most secure way to swap cryptocurrencies OTC</h3>
      <p>Hashed Timelock Contracts (HTLCs) and <a href="https://liquality.io/blog/atomic-swaps-explained/">Atomic Swaps</a> represent the critical elements for programmable money, allowing users to not only save on unnecessary fees, but also significantly reduce counterparty, settlement, and custodial risks. Through these base-layer smart contracts, we can build a value management system that enables shared, accessible, and efficient liquidity networks.</p>
    </div>
    <div class="col-md-6 padded">
      <img src="/images/assets/liquality-logo-solution.png" width="100%" alt="Through cross-chain atomic swaps, Liquality minimizes the cost of mediation and enables an internet of money">
    </div>
  </div>
</div>

<div class="container-fluid liq-blue-bg padded text-center">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h4><strong>The Chain Abstraction Layer - Powering Interoperable Blockchain Development</strong></h4>
      <br />
      <p>A reference library for developers that abstracts away blockchain logic for simple cross-chain interoperability and development.</p>
      <p>Projects that are using the Chain Abstraction Layer include: <a href="https://atomicloans.io/" style="color:#fff;text-decoration:underline;"><b>Atomic Loans</b></a></p>
      <% link_to 'https://github.com/liquality/chainabstractionlayer', class: 'btn btn-light' do %>
        Build with the Chain Abstraction Layer
      <% end %>
    </div>
  </div>
</div>
